* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.app-shell {
  width: 100vw;
  height: 100vh;
}

.legacy-frame {
  width: 100%;
  height: 100%;
  border: 0;
}
